<ion-header>
  <ion-toolbar>
    <ion-title>Food</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Who</ion-label>
      <ion-select interface="popover" placeholder="Select Pet"  [(ngModel)]="LeConso.Pet.pet_id"  >
        <ion-select-option *ngFor="let Pet of ThePet" [value]="Pet.pet_id" >{{ Pet.pet_label }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Food</ion-label>
      <ion-input placeholder="Enter libelle Food" [(ngModel)]="LeConso.food_label"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Mark</ion-label>
      <ion-input placeholder="Enter Marque" [(ngModel)]="LeConso.food_mark"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Prix</ion-label>
      <ion-input type="number" placeholder="Enter Prix" [(ngModel)]="LeConso.food_prix"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Pick date</ion-label>
      <ion-input value="{{ date | date: 'dd.MM.yyyy' }}" id="date" class="ion-text-end"></ion-input>
      <ion-popover trigger="date" size="cover">
        <ng-template>
          <ion-datetime presentation="date" [(ngModel)]="date" locale="sl-SI"></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>

    <!-- LeConso.date_achat -->

  </ion-list>
  <ion-button (click)="goBack()">Back</ion-button>

  <ion-button (click)="goSave()">{{btnLabel}}</ion-button>
</ion-content>