<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      The Cons
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button [routerLink]="['/detail']">Add Food</ion-button>

  <div id="container">
    <ion-list>
      <ion-item-sliding *ngFor="let item of TheConso">
        <ion-item button (click)="edtConso(item)">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label>{{item.food_label}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label>{{item.food_prix}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>{{item.food_mark}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="del(item.food_id)">Del</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

</ion-content>