<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> The Cons </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row>
    <ion-col size="4">
      <ion-item>
        <ion-button [routerLink]="['/detail']">Add Food</ion-button>
      </ion-item>
    </ion-col>
    <ion-col size="8">
      <ion-radio-group value="Month" (ionChange)="selectedCategory()" [(ngModel)]="radioValue">
        <ion-row>
          <ion-col size="6" >
            <ion-item>
              <ion-label class="my-label">Month</ion-label>
              <ion-radio value="Month"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label class="my-label">Pet</ion-label>
              <ion-radio value="Pet"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>
    </ion-col>
  </ion-row>


  <ion-item-group *ngFor="let item of groupArrays">
    <ion-item-divider sticky color="medium">

      <div *ngIf="radioValue == 'Month'">
        {{('2020-' + item.mois + '-01') | date: 'MMMM'}} --------------- TOTAL :
        {{item.sum | number : '1.2-2'}}
      </div>

      <div *ngIf="radioValue == 'Pet'">
      <!--   <div *ngIf="item.mois == 1">Hirukami Murakmi</div>
        <div *ngIf="item.mois == 2">Josephine</div>
        <div *ngIf="item.mois == 3">Mikey n Blaky</div> -->
        {{ item.mois  | petlibelle }}--------------- TOTAL :
        {{item.sum | number : '1.2-2'}}
      </div>
     
    </ion-item-divider>
    <ion-item *ngFor="let event of item.donnes">
      <ion-item-sliding>
        <ion-item button (click)="edtConso(event)">
          <ion-label>
            <h2>{{event.food_label}}</h2>
          </ion-label>
          <ion-label class="alignRight">
            <p>
              {{event.food_mark}} <br />
              {{event.date_achat | date: 'dd/MM'}}
            </p>
          </ion-label>

          <ion-label class="alignRight">{{event.food_prix}}</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="del(event.food_id)">Del</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item>
  </ion-item-group>
</ion-content>